@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #db0000;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.container-page {
  @apply mx-auto w-full max-w-6xl px-4;
}

.card {
  @apply rounded-lg border border-slate-100 bg-white shadow-card transition hover:shadow-lg;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

